@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}

:root {
  --main-dark: #191a1d;
  --secondary-dark: #1f2024;
  --main-light: #fff;
  --secondary-light: #f4f4f4;
  --main-theme: #356957;
  --hover-theme: #42836d;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

#__next {
  max-width: 1536px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color: var(--main-light);
    background-color: var(--main-dark);
  }
  .swal2-popup {
    background-color: var(--secondary-dark) !important;
    color: var(--secondary-light) !important;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: var(--main-dark);
    background-color: var(--main-light);
  }
  .swal2-popup {
    background-color: var(--secondary-light) !important;
    color: var(--secondary-dark) !important;
  }
}
